In [1]:
import json

from onboard.client import RtemClient
# Access API Key securely using config.ini file
import configparser
from pprint import pprint
import pandas as pd
from onboard.client.models import TimeseriesQuery, PointData, PointSelector
from onboard.client.dataframes import points_df_from_streaming_timeseries

In [2]:
# Load API Key using configparser
config = configparser.ConfigParser()
config.read('config.ini')
api_key = config['DEFAULT']['API_KEY']
# Initialise Onboard Client
client = RtemClient(api_key=api_key)
client.whoami()

{'result': 'ok',
 'apiKeyInHeader': True,
 'apiKeyScopes': ['buildings:read', 'general', 'auth'],
 'apiVersion': '2022-04-14',
 'userInfo': {'token': None,
  'name': 'Daniel',
  'full_name': 'Daniel Lawson',
  'username': 'dan',
  'palette': {'primary': {'main': '#3b5998'},
   'secondary': {'main': '#ffffff'}},
  'org_short_name': 'RTEM Submission',
  'org_id': 5,
  'logo_url': '',
  'mfa_required': True},
 'authLevel': 4}

In [5]:
query = PointSelector()
# query.buildings = ['426']
# query.equipment_types = [31]
# query.point_types = ['Reactive Power', 'Apparent Power', 'Real Power', 'Power Factor', 'Electric Consumption']
# query.point_types = ['Power Factor']
# query.point_types = ['Reactive Power']
query.equipment_types

In [6]:
selection = client.select_points(query)
selection

{'orgs': [5],
 'buildings': [426],
 'equipment': [26964, 26965, 26966, 26967, 26968, 26969],
 'equipment_types': [31],
 'point_types': [222],
 'points': [283488,
  283584,
  283459,
  283588,
  283463,
  283559,
  283563,
  283534,
  283538,
  283509,
  283513,
  283484]}

In [7]:
points = pd.json_normalize(client.get_points_by_ids(selection['points']))
points

,id,building_id,last_updated,first_updated,device,network_device,objectId,name,description,units,tagged_units,raw_unit_id,value,type,point_type_id,measurement_id,datasource_hash,topic,state_text,equip_id
0,283459,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit1 kVAR_1,None,kVAR,kvar,25,4.68,Reactive Power,222,20,48e92c14bcd0bf11c738f5ee1e2c7b68,nyserda+000076513+meter1-site+480 W 42nd St - ...,None,26964
1,283463,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit1 Rea...,None,kVAR,kvar,25,4.63,Reactive Power,222,20,8ff5b01f87bc7d4c90691fa62b706d75,nyserda+000076513+meter1-site+480 W 42nd St - ...,None,26964
2,283484,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit2 kVAR_2,None,kVAR,kvar,25,16.57,Reactive Power,222,20,d0229b323559b8c6caaeb7be25c672ae,nyserda+000076513+meter2-site+480 W 42nd St - ...,None,26965
3,283488,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit2 Rea...,None,kVAR,kvar,25,16.54,Reactive Power,222,20,0eda28ef27ba007fb02d4d649c19ded2,nyserda+000076513+meter2-site+480 W 42nd St - ...,None,26965
4,283509,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit3 kVAR_3,None,kVAR,kvar,25,0.0,Reactive Power,222,20,7253c7276fd495cb18882fef889325eb,nyserda+000076513+meter3-site+480 W 42nd St - ...,None,26966
5,283513,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit3 Rea...,None,kVAR,kvar,25,0.0,Reactive Power,222,20,b523b5c36bd71e6eefc334a1dbd09383,nyserda+000076513+meter3-site+480 W 42nd St - ...,None,26966
6,283534,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit4 kVAR_4,None,kVAR,kvar,25,11.08,Reactive Power,222,20,e88962ccb98ffcfaa892f0e2b6d5c1ad,nyserda+000076513+meter4-site+480 W 42nd St - ...,None,26967
7,283538,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit4 Rea...,None,kVAR,kvar,25,10.95,Reactive Power,222,20,ed20cd488b7393e8923a4ca09e81f6f6,nyserda+000076513+meter4-site+480 W 42nd St - ...,None,26967
8,283559,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit5 kVAR_5,None,kVAR,kvar,25,20.23,Reactive Power,222,20,262c8e1eb5b22e3fac67959712da08d0,nyserda+000076513+meter5-site+480 W 42nd St - ...,None,26968
9,283563,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit5 Rea...,None,kVAR,kvar,25,20.83,Reactive Power,222,20,7730b88aba7d2381f20b0a96c984a387,nyserda+000076513+meter5-site+480 W 42nd St - ...,None,26968
10,283584,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit6 kVAR_6,None,kVAR,kvar,25,4.87,Reactive Power,222,20,2a1c730622364e74f70089d331b65d10,nyserda+000076513+meter6-site+480 W 42nd St - ...,None,26969
11,283588,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit6 Rea...,None,kVAR,kvar,25,4.94,Reactive Power,222,20,70b01f1edf1d0c9ed19b2018505448f0,nyserda+000076513+meter6-site+480 W 42nd St - ...,None,26969

In [69]:
pd.json_normalize(client.get_all_buildings())

,id,org_id,name,address,sq_ft,image_src,bms_manufacturer,bms_product_name,bms_version,timezone,...,info.sunend,info.geoCity,info.geoState,info.m2fstart,info.satstart,info.sunstart,info.yearBuilt,info.geoCountry,info.weatherRef,info.customerType
0,441,5,88737,None,551143.0,None,None,None,None,America/New_York,...,,Bronx,NY,,,,,US,,Multifamily
1,140,5,83483,None,21869.0,None,None,None,None,America/New_York,...,,New York,NY,,,,,US,,Commercial Office
2,191,5,94414,None,198057.0,None,None,None,None,America/New_York,...,23:00,Victor,NY,07:30,07:30,07:30,,US,,Commercial Retail
3,231,5,89496,None,NaN,None,None,None,None,America/New_York,...,,New York,NY,,,,,US,,
4,248,5,116742,None,127000.0,None,None,None,None,America/New_York,...,,New York,NY,,,,,US,,Multifamily
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,353,5,94413,None,198057.0,None,None,None,None,America/New_York,...,23:00,Henrietta,NY,07:30,07:30,07:30,,US,,Commercial Retail
225,370,5,95457,None,421316.0,None,None,None,None,America/New_York,...,,New York,NY,,,,,US,,Hospitality
226,383,5,79528,None,75000.0,None,None,None,None,America/New_York,...,NaN,Purchase,New York,04:00:00,NaN,NaN,1971,US,NaN,Commercial Office
227,398,5,109188,None,860000.0,None,None,None,None,America/New_York,...,,New York,NY,,,,,US,,Commercial Office
228,399,5,97151,None,140400.0,None,None,None,None,America/New_York,...,,New York,NY,,,,,US,,Commercial Office

In [80]:
start = '2018-01-27T00:00:00Z'
end = '2018-01-27T23:59:59Z'

timeseries_query = TimeseriesQuery(point_ids = selection['points'], start = start, end = end)
timeseries_query

TimeseriesQuery(start=datetime.datetime(2018, 1, 27, 0, 0, tzinfo=datetime.timezone.utc), end=datetime.datetime(2018, 1, 27, 23, 59, 59, tzinfo=datetime.timezone.utc), selector=None, point_ids=[283584, 283488, 283459, 283588, 283463, 283559, 283563, 283534, 283538, 283509, 283513, 283484], units=[])

In [81]:
sensor_data = points_df_from_streaming_timeseries(client.stream_point_timeseries(timeseries_query))
sensor_data

,timestamp,283459,283463,283484,283488,283509,283513,283534,283538,283559,283563,283584,283588
0,2018-01-27T00:15:00Z,8.48,9.44,9.94,10.13,0.0,0.0,8.29,8.66,17.36,24.02,7.76,6.99
1,2018-01-27T00:30:00Z,8.68,9.67,9.94,10.46,0.0,0.0,8.35,8.37,19.10,24.73,7.53,7.00
2,2018-01-27T00:45:00Z,8.89,9.90,9.95,10.79,0.0,0.0,8.40,8.08,20.83,25.43,7.30,7.01
3,2018-01-27T01:00:00Z,9.09,10.12,9.95,11.11,0.0,0.0,8.46,7.79,22.57,26.14,7.07,7.02
4,2018-01-27T01:15:00Z,9.37,10.38,10.24,11.23,0.0,0.0,8.30,7.86,23.59,27.07,7.05,6.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,2018-01-27T22:45:00Z,8.22,7.69,11.67,10.91,0.0,0.0,13.78,13.62,30.44,25.84,7.97,7.86
91,2018-01-27T23:00:00Z,7.93,7.57,11.42,10.72,0.0,0.0,13.72,13.58,28.65,24.68,8.00,7.77
92,2018-01-27T23:15:00Z,7.80,7.48,11.12,10.45,0.0,0.0,13.70,13.62,27.94,25.49,7.93,7.67
93,2018-01-27T23:30:00Z,7.66,7.40,10.82,10.19,0.0,0.0,13.69,13.66,27.22,26.31,7.87,7.58
94,2018-01-27T23:45:00Z,7.53,7.31,10.52,9.92,0.0,0.0,13.67,13.70,26.50,27.12,7.80,7.49

In [82]:
pd.json_normalize(client.get_points_by_ids(selection['points']))

,id,building_id,last_updated,first_updated,device,network_device,objectId,name,description,units,tagged_units,raw_unit_id,value,type,point_type_id,measurement_id,datasource_hash,topic,state_text,equip_id
0,283459,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit1 kVAR_1,None,kVAR,kvar,25,4.68,Reactive Power,222,20,48e92c14bcd0bf11c738f5ee1e2c7b68,nyserda+000076513+meter1-site+480 W 42nd St - ...,None,26964
1,283463,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit1 Rea...,None,kVAR,kvar,25,4.63,Reactive Power,222,20,8ff5b01f87bc7d4c90691fa62b706d75,nyserda+000076513+meter1-site+480 W 42nd St - ...,None,26964
2,283484,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit2 kVAR_2,None,kVAR,kvar,25,16.57,Reactive Power,222,20,d0229b323559b8c6caaeb7be25c672ae,nyserda+000076513+meter2-site+480 W 42nd St - ...,None,26965
3,283488,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit2 Rea...,None,kVAR,kvar,25,16.54,Reactive Power,222,20,0eda28ef27ba007fb02d4d649c19ded2,nyserda+000076513+meter2-site+480 W 42nd St - ...,None,26965
4,283509,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit3 kVAR_3,None,kVAR,kvar,25,0.0,Reactive Power,222,20,7253c7276fd495cb18882fef889325eb,nyserda+000076513+meter3-site+480 W 42nd St - ...,None,26966
5,283513,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit3 Rea...,None,kVAR,kvar,25,0.0,Reactive Power,222,20,b523b5c36bd71e6eefc334a1dbd09383,nyserda+000076513+meter3-site+480 W 42nd St - ...,None,26966
6,283534,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit4 kVAR_4,None,kVAR,kvar,25,11.08,Reactive Power,222,20,e88962ccb98ffcfaa892f0e2b6d5c1ad,nyserda+000076513+meter4-site+480 W 42nd St - ...,None,26967
7,283538,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit4 Rea...,None,kVAR,kvar,25,10.95,Reactive Power,222,20,ed20cd488b7393e8923a4ca09e81f6f6,nyserda+000076513+meter4-site+480 W 42nd St - ...,None,26967
8,283559,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit5 kVAR_5,None,kVAR,kvar,25,20.23,Reactive Power,222,20,262c8e1eb5b22e3fac67959712da08d0,nyserda+000076513+meter5-site+480 W 42nd St - ...,None,26968
9,283563,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit5 Rea...,None,kVAR,kvar,25,20.83,Reactive Power,222,20,7730b88aba7d2381f20b0a96c984a387,nyserda+000076513+meter5-site+480 W 42nd St - ...,None,26968
10,283584,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit6 kVAR_6,None,kVAR,kvar,25,4.87,Reactive Power,222,20,2a1c730622364e74f70089d331b65d10,nyserda+000076513+meter6-site+480 W 42nd St - ...,None,26969
11,283588,426,1.606795e+12,1.512104e+12,None,None,None,480 W 42nd St - Signature Theatre Circuit6 Rea...,None,kVAR,kvar,25,4.94,Reactive Power,222,20,70b01f1edf1d0c9ed19b2018505448f0,nyserda+000076513+meter6-site+480 W 42nd St - ...,None,26969

In [9]:
all_equipment = pd.read_json('api/equipment/all.json')
all_equipment

,id,building_id,equip_id,suffix,equip_type_name,equip_type_id,equip_type_abbr,equip_type_tag,equip_subtype_name,equip_subtype_id,equip_subtype_tag,flow_order,floor_num_physical,floor_num_served,area_served_desc,equip_dis,parent_equip,child_equip,points,tags
0,28797,441,boiler-1,1,Boiler,19,BLR,boiler,None,NaN,None,1,NaN,NaN,None,None,[28803],[],"[{'id': 310029, 'building_id': 441, 'last_upda...","[boiler, hvac]"
1,28798,441,boiler-2,2,Boiler,19,BLR,boiler,None,NaN,None,1,NaN,NaN,None,None,[28803],[],"[{'id': 310079, 'building_id': 441, 'last_upda...","[boiler, hvac]"
2,28799,441,boiler-3,3,Boiler,19,BLR,boiler,None,NaN,None,1,NaN,NaN,None,None,[28803],[],"[{'id': 310108, 'building_id': 441, 'last_upda...","[boiler, hvac]"
3,28800,441,boiler-4,4,Boiler,19,BLR,boiler,None,NaN,None,1,NaN,NaN,None,None,[28803],[],"[{'id': 310144, 'building_id': 441, 'last_upda...","[boiler, hvac]"
4,28801,441,boiler-5,5,Boiler,19,BLR,boiler,None,NaN,None,1,NaN,NaN,None,None,[28803],[],"[{'id': 310152, 'building_id': 441, 'last_upda...","[boiler, hvac]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5905,32354,399,chilledWaterPump,None,Pump,32,PUMP,pump,Chilled Water Pump,20.0,chilledWaterPump,1,NaN,NaN,None,None,[22751],[],"[{'id': 231126, 'building_id': 399, 'last_upda...","[pump, hvac, chilledWaterPump]"
5906,32355,399,chilledWaterPump-4,4,Pump,32,PUMP,pump,Chilled Water Pump,20.0,chilledWaterPump,1,NaN,NaN,None,None,[22751],[],"[{'id': 359904, 'building_id': 399, 'last_upda...","[pump, hvac, chilledWaterPump]"
5907,32356,399,condenser,None,Condenser,22,COND,condenser,None,NaN,None,1,NaN,NaN,None,None,[],[],"[{'id': 231136, 'building_id': 399, 'last_upda...","[hvac, condenser]"
5908,32357,399,condenserWaterPump,None,Pump,32,PUMP,pump,Condenser Water Pump,26.0,condenserWaterPump,1,NaN,NaN,None,None,[],[],"[{'id': 231132, 'building_id': 399, 'last_upda...","[pump, hvac, condenserWaterPump]"
5909,32358,399,elecMeter-site,site,Meter,31,METER,meter,Electrical Meter,16.0,elecMeter,5,NaN,NaN,None,None,[],[],"[{'id': 359906, 'building_id': 399, 'last_upda...","[meter, elecMeter]"

In [8]:
all_points = pd.read_json('data/json/all_points.json')
all_points

,id,building_id,last_updated,first_updated,device,network_device,objectId,name,description,units,tagged_units,raw_unit_id,value,type,point_type_id,measurement_id,datasource_hash,topic,state_text,equip_id
0,310029,441,1560571200000,1550541661000,None,NaN,None,245 E 149th St. Boiler-1 Fault Code,None,?,?,23,0,Virtual,434,18,b115b5053493748f7076ad09f69c4456,nyserda+0000088737+boiler-1+245 E 149th St. Bo...,None,28797
1,310009,441,1560485100000,1550700900000,None,NaN,None,225 E 149th St. Boiler-1 Exhaust Temp,None,F,f,2,183.55,Exhaust Air Temperature,86,1,4a1a11502acee3078352da312c40c262,nyserda+0000088737+boiler-1+225 E 149th St. Bo...,None,28797
2,310010,441,1560571200000,1550503775000,None,NaN,None,225 E 149th St. Boiler-1 Fault Code,None,?,?,23,0,Virtual,434,18,55882633fe8fb5aac7dac643c99b1af5,nyserda+0000088737+boiler-1+225 E 149th St. Bo...,None,28797
3,310011,441,1560485100000,1550503800000,None,NaN,None,225 E 149th St. Boiler-1 FFWD Temp,None,?,?,23,46.90,Virtual,434,18,831a8df09b848f53e807fa0204c45eaa,nyserda+0000088737+boiler-1+225 E 149th St. Bo...,None,28797
4,310012,441,1560485100000,1550503800000,None,NaN,None,225 E 149th St. Boiler-1 Fire Rate In,None,?,?,23,91,Virtual,434,18,aa147c829c7ed55b6e93cdbbb8b43d55,nyserda+0000088737+boiler-1+225 E 149th St. Bo...,None,28797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44257,359906,399,1596253500000,1580533200000,None,NaN,None,Main Meter kW_v1,None,None,kw,17,114.08,Real Power,221,13,66e321814268c37187fe46120a91ea01,nyserda+0000097151+elecMeter-site+Main Meter k...,None,32358
44258,359905,399,1589532300000,1580533200000,None,NaN,None,Main Meter kW_v0,None,None,kw,17,86.69,Real Power,221,13,0d67a5188df9184da502b013c6d9ae11,nyserda+0000097151+elecMeter-site+Main Meter k...,None,32358
44259,231120,399,1543639500000,1528909200000,,NaN,,Building Demand_value,Building Demand_value,kW,?,23,108.71,Virtual,434,18,26ace99b6d6d2692b3d5ae723f489241,nyserda+0000097151+Site-Sensor+Building Demand...,None,32358
44260,231119,399,1559360700000,1543640400000,,NaN,,Building Demand_v1,Building Demand_v1,kW,?,23,97.55,Virtual,434,18,0cb2239dcfc357e1c3a34d3e0401fe19,nyserda+0000097151+Site-Sensor+Building Demand_v1,None,32358
44261,231118,399,1552639500000,1546232400000,,NaN,,Building Demand_v0,Building Demand_v0,kW,?,23,84.67,Virtual,434,18,85480508025745f21f3724ad592405fa,nyserda+0000097151+Site-Sensor+Building Demand_v0,None,32358

In [25]:
all_equipment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5910 entries, 0 to 5909
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  5910 non-null   int64
 1   building_id         5910 non-null   int64
 2   equip_id            5910 non-null   object
 3   suffix              5854 non-null   object
 4   equip_type_name     5910 non-null   object
 5   equip_type_id       5910 non-null   int64
 6   equip_type_abbr     5910 non-null   object
 7   equip_type_tag      5910 non-null   object
 8   equip_subtype_name  2120 non-null   object
 9   equip_subtype_id    2120 non-null   float64
 10  equip_subtype_tag   2120 non-null   object
 11  flow_order          5910 non-null   int64
 12  floor_num_physical  0 non-null      float64
 13  floor_num_served    0 non-null      float64
 14  area_served_desc    3522 non-null   object
 15  equip_dis           3704 non-null   object
 16  parent_equip        5910 non-null   object
 17  child_equip         5910 non-null   object
 18  points              5910 non-null   object
 19  tags                5910 non-null   object
dtypes: float64(3), int64(4), object(13)
memory usage: 923.6+ KB

In [10]:
pd.json_normalize(client.get_building_equipment(426))

,id,building_id,equip_id,suffix,equip_type_name,equip_type_id,equip_type_abbr,equip_type_tag,equip_subtype_name,equip_subtype_id,equip_subtype_tag,flow_order,floor_num_physical,floor_num_served,area_served_desc,equip_dis,parent_equip,child_equip,points,tags
0,26935,426,chilledWaterPlant,chilledWaterPlant,Chilled Water Plant,20,CHWS,chilledWaterPlant,None,NaN,None,1,None,None,None,None,[],[],"[{'id': 283193, 'building_id': 426, 'last_upda...","[hvac, chilledWaterPlant]"
1,26936,426,chilledWaterPump1,chilledWaterPump1,Pump,32,PUMP,pump,Chilled Water Pump,20.0,chilledWaterPump,1,None,None,None,None,[],[],"[{'id': 283195, 'building_id': 426, 'last_upda...","[pump, hvac, chilledWaterPump]"
2,26937,426,chilledWaterPump2,chilledWaterPump2,Pump,32,PUMP,pump,Chilled Water Pump,20.0,chilledWaterPump,1,None,None,None,None,[],[],"[{'id': 283199, 'building_id': 426, 'last_upda...","[pump, hvac, chilledWaterPump]"
3,26938,426,domesticHotWaterPlant,domesticHotWaterPlant,Hot Water Plant,30,HWS,hotWaterPlant,None,NaN,None,1,None,None,None,None,[],[],"[{'id': 283201, 'building_id': 426, 'last_upda...","[hvac, hotWaterPlant]"
4,26939,426,fan5-exhaust,fan5-exhaust,Fan,26,FAN,fan,Exhaust Fan,12.0,exhaustFan,4,None,None,None,None,[],[],"[{'id': 283203, 'building_id': 426, 'last_upda...","[fan, hvac, exhaustFan]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,27022,426,vav50,vav50,Variable Air Volume,7,VAV,vav,None,NaN,None,3,None,None,None,None,[],[],"[{'id': 284070, 'building_id': 426, 'last_upda...","[vav, hvac]"
88,27023,426,vav51,vav51,Variable Air Volume,7,VAV,vav,None,NaN,None,3,None,None,None,None,[],[],"[{'id': 284074, 'building_id': 426, 'last_upda...","[vav, hvac]"
89,27024,426,vav52,vav52,Variable Air Volume,7,VAV,vav,None,NaN,None,3,None,None,None,None,[],[],"[{'id': 283183, 'building_id': 426, 'last_upda...","[vav, hvac]"
90,27025,426,vav53,vav53,Variable Air Volume,7,VAV,vav,None,NaN,None,3,None,None,None,None,[],[],"[{'id': 284084, 'building_id': 426, 'last_upda...","[vav, hvac]"
91,27026,426,vav54,vav54,Variable Air Volume,7,VAV,vav,None,NaN,None,3,None,None,None,None,[],[],"[{'id': 283185, 'building_id': 426, 'last_upda...","[vav, hvac]"

http://mis.nyiso.com/public/